<mat-toolbar color="primary" class="navbar">
    <div>My Saved place Application</div>
    <div >
      <button mat-button (click)="this.commonService.navigteToAddPlace()">Add place</button>
      <button mat-button (click)="this.commonService.navigteToViewSavedPlace()">View Saved place</button>
      <button mat-button (click)="this.commonService.logout()">Logout</button>
        
    </div>
  </mat-toolbar>
  <!-- <p>add-new-place works!</p>
  <p>name, description, image and address.</p> -->
  <!-- <form class="login-form-flex" name="loginForm" (ngSubmit)="LoginUser()" #loginForm="ngForm">
    <mat-card align="center justify" class="example-card">
        <mat-card-header>
            <mat-card-title align="center">
        Add new Place
      </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="width:100%">
            <input matInput placeholder="Input1">
          </mat-form-field>
        <br />
          <mat-form-field>
            <input matInput placeholder="input2">
          </mat-form-field>
        <br />
          <mat-form-field>
              <input matInput placeholder="input3">
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="!(loginForm.form.valid)">Save</button>
      </mat-card-actions>
    </mat-card>
    
  </form> -->
  <form name="loginForm" (ngSubmit)="LoginUser()" #loginForm="ngForm">
      <div class="centeralignment" >
        <mat-card align="center" class="example-card textCenter">
            <mat-card-title >Add new place</mat-card-title>
          
          <mat-card-content>
            <mat-form-field >
                <input matInput placeholder="New Place Name" name="PlaceName" [(ngModel)]="newPlace.placeName" required>
              </mat-form-field>
              <br />
            <mat-form-field >
                <input matInput placeholder="New Place description" name="PlcaeDescription" [(ngModel)]="newPlace.placeDescription" required>
              </mat-form-field>
              <br />
              <mat-form-field>  
                  <input matInput placeholder="New Place Address" name="PlaceAddress" [(ngModel)]="newPlace.placeAddress" required>
              </mat-form-field>
            <br />
                <input #imageInput hidden="true" type="file" onclick="this.value=null" (change)="processFile(imageInput)" accept=".jpg" required/>
<button mat-flat-button color="primary" (click)="imageInput.click()">Choose Image File (CSV)</button>
              
            
          </mat-card-content>
          value-{{this.selectedFile.pending}}
            <button mat-raised-button type="submit" color="primary" [disabled]="!(loginForm.form.valid) || !(this.selectedFile.pending)">Save the place</button>
            <br />
        </mat-card>
      </div>
    </form>
