<mat-toolbar color="primary" class="navbar">
    <div>My Saved Place </div>
    <div>
        <button mat-button (click)="this.commonService.navigteToAddPlace()">Add place</button>
        <button mat-button (click)="this.commonService.navigteToViewSavedPlace()">View Saved place</button>
        <button mat-button (click)="this.commonService.logout()">Logout</button>

    </div>
</mat-toolbar>
<form name="loginForm" #addNewPlaceForm="ngForm">
    <div class="centeralignment">
        <mat-card align="center" class="example-card textCenter">
            <mat-card-title>Add new place</mat-card-title>

            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="New Place Name" name="PlaceName" [(ngModel)]="newPlace.placeName"
                        required>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <input matInput placeholder="New Place description" name="PlcaeDescription"
                        [(ngModel)]="newPlace.placeDescription" required>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <input matInput placeholder="New Place Address" name="PlaceAddress"
                        [(ngModel)]="newPlace.placeAddress" required>
                </mat-form-field>
                <br />
                <input #imageInput hidden="true" type="file" onclick="this.value=null"
                    (change)="processFile(imageInput)" accept=".jpg" required />
                <button mat-flat-button color="primary" (click)="imageInput.click()">Choose Image File (JPEG)</button>


            </mat-card-content>
            <button mat-raised-button type="submit" color="primary"
                [disabled]="!(addNewPlaceForm.form.valid) || !(this.selectedFile.pending)" (click)="uploadTheNewPlace()">Save the
                place</button>
            <br />
        </mat-card>
    </div>
</form>