.cardCenter{
    margin:5rem;
}

.navbar{
  justify-content: space-between;
}
.textCenter{
  
  justify-content: center;
}

.centeralignment{
  margin: 0 auto;
  width: 45%;
  height:100%
}

.cardHeader{
   margin-top: 5rem;
}
.example-card {
  max-width: 800px;
}

mat-form-field {
  width: 80%;
  }

  mat-card{
    height: 80%;
  }