<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary" class="textCenter">
  <div>My Saved place Application</div>
  <!-- <div>
      <span>Add place</span>
      <span>View Saved place</span>
      <span>Logout</span>
    </div> -->
</mat-toolbar>
<!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->
<!-- <div class="login-form-flex"> -->
<!--  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form> -->
  <form name="loginForm" (ngSubmit)="LoginUser()" #loginForm="ngForm">
  <div class="centeralignment" >
    <mat-card align="center" class="card cardCenter">
        <mat-card-title class="mat-headline">Login</mat-card-title>
      
        <mat-card-content align="center">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [(ngModel)]="userCredentials.Email" name="Email" required>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Password" [(ngModel)]="userCredentials.Password" name="Password" required>
          </mat-form-field>
          
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" style="margin-bottom: 1rem;" mat-raised-button color="primary" [disabled]="!(loginForm.form.valid)">Sign In</button>
        </mat-card-actions>
    </mat-card>
  </div>
</form>
<!-- <form class="login-form-flex" name="loginForm" (ngSubmit)="LoginUser()" #loginForm="ngForm">
  <mat-card align="center" class="example-card">
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Name" [(ngModel)]="userCredentials.Email" name="Email" required>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" [(ngModel)]="userCredentials.Password" name="Password" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" [disabled]="!(loginForm.form.valid)">Login</button>
    </mat-card-actions>
  </mat-card>
  
</form> -->
<!-- </div> -->

<!-- <mat-card align="center" class="card">
      <mat-card-title >
        <h3>Login</h3>
      </mat-card-title>
      <mat-card-content  align="center">
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
          <input matInput placeholder="Password" [(ngModel)]="password" name="password" required>
      </mat-card-content>
    </mat-card> -->
<!-- <mat-card id="card" align="center">
      <mat-card-title>
        Login
      </mat-card-title>
    
      <mat-card-content>
    
        <mat-form-field>
          <input matInput placeholder="email" >
        </mat-form-field><br/>
    
        <mat-form-field>
          <input matInput placeholder="password">
        </mat-form-field><br/>
        <button mat-raised-button color="primary" style="margin-right:5px;">login</button>
    
      </mat-card-content>
      </mat-card> -->
<!-- <div>
  <button mat-raised-button color="accent" class="mat-display-4"></button>
  <button mat-raised-button color="warn" class="mat-display-4"></button>
  <div class="mat-display-3">
    <button mat-raised-button>My saved application</button>
    <span style="text-align: center;"> My saved application</span>
  </div>

  <div class="mat-headline">
    THis is heading h1
  </div>

  <div class="mat-title">
    THis is heading h2
  </div>

  <div class="mat-body-1">
    THis is body text
  </div>

  <div class="mat-typography">
    THis is body text
  </div>
</div> -->